{% comment %}
/**************************************************
* DO NOT MODIFY THIS FILE!!!                      *
* IT WILL BE OVERWRITTEN BY UPDATES FROM GROWAVE! *
**************************************************/
{% endcomment %}
{% assign ssw_review_enabled = shop.metafields.ssw['review_enabled'] | plus: 0 %}
{% if shop.customer_accounts_enabled and ssw_review_enabled == 1 and shop.metafields.ssw.settings.reviews_widget_enabled == 1 %}
  {% if shop.metafields.ssw.settings.reviews_tab_position == 'left' %}
    {% assign direction = 'left' %}
    {% assign tab_position = 'ssw-left-top' %}
  {% else %}
    {% assign direction = 'right' %}
    {% assign tab_position = 'ssw-right-top' %}
  {% endif %}
  <div id="ssw-widget-review-bar" class="ssw-reviews-widget {{ tab_position }}" data-direction="{{ direction }}">
    <div class="ssw-review-side-backdrop"></div>
    <div class="ssw-reviews-caption {{ tab_position }}" data-direction="{{ direction }}">
      <div class="ssw-reviews-caption__element">
        <span class="ssw-mobile-hidden"><i class="ssw-icon-star" style="font-size: 16px;"></i>{{ "socialshopwave.reviews" | t }}</span>
        <span class="ssw-mobile-visible"><i class="ssw-icon-star"></i></span>
      </div>
    </div>
    <div class="ssw-reviews-wlist {{ tab_position }} {% unless shop.metafields.ssw_cache.review_tab %}ssw-html-widget{% endunless %}" data-module="recommendation" data-name="reviewsPopup" data-metafield_key="review_tab">
    </div>
  </div>
  {% if shop.metafields.ssw_cache.review_tab %}
    <script type="text/javascript">
      if (typeof sswRun !== 'undefined') {
        sswRun(function ($) {
          $('#ssw-widget-review-bar').find('.ssw-reviews-wlist').append({{ shop.metafields.ssw_cache.review_tab | json }});
        });
      }
    </script>
  {% endif %}
{% endif %}